$primary: #d1444a;
$primary-hover: #fc928c;
$footer: #a3605c;
$secondary: #f4efe3;
$pure: #fff;
$dark: #232323;
$back: rgb(12, 10, 41, 0.5);
$gray: rgb(83, 82, 82);


// transition

$smooth: all 0.3s ease-in-out;
